:root {
  --heading-color: wheat;
}

body {
  background-image: linear-gradient(
    86.3deg,
    rgba(0, 119, 182, 1) 3.6%,
    rgba(8, 24, 68, 1) 87.6%
  );
}

.heading {
  color: var(--heading-color);
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid var(--heading-color); /* Use the custom color variable */
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.registerbtn:hover {
  opacity: 1;
}

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}
