:root {
  --heading-color: green;
  --heading-positive-color: #e28743;
}

body {
  background-image: linear-gradient(
    174.2deg,
    rgba(255, 244, 228, 1) 7.1%,
    rgba(240, 246, 238, 1) 67.4%
  );
}

.heading {
  color: var(--heading-color);
}

.heading-positive {
  color: var(--heading-positive-color);
}

#doctorAnimation {
  width: 400px; /* Set desired width */
  height: 400px; /* Set desired height */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style for the container holding the animation and text */
.animation-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

/* Style for the text container */
.text-container {
  max-width: 400px; /* Adjust the max-width as needed */
}
